apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/application: {{ .Release.Namespace }}
    app.kubernetes.io/name: {{ .Values.componentId }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  name: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicas }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/application: {{ .Release.Namespace }}
      app.kubernetes.io/name: {{ .Values.componentId }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/application: {{ .Release.Namespace }}
        app.kubernetes.io/name: {{ .Values.componentId }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: toledo
          env:
            - name: DEFAULT_SERVICE
              value: {{ .Values.defaultService }}
            - name: SLACK_CHANEL
              value: {{ .Values.slackChanel }}
            - name: CLIENT_ADDR
              value: {{ .Values.clientAddr }}
            - name: REPO_URL
              value: {{ .Values.repoUrl }}
            - name: MISMATCH_THRESHOLD
              value: {{ .Values.misMatchThreshold | quote }}
          image: {{ printf "ghcr.io/upstars-global/toledo:%s" ( .Values.image.tag | default .Chart.AppVersion ) }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.port }}
              name: http
            - containerPort: 9229
              name: debug
          resources: {{- toYaml .Values.resources | nindent 12}}
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 15
            timeoutSeconds: 2
            periodSeconds: 2
            successThreshold: 5
            failureThreshold: 3
          volumeMounts:
            - name: data
              mountPath: /data/server/backstop/reference/
            - name: tests
              mountPath: /data/server/backstop/test/
            - name: scenarios
              mountPath: /data/server/backstop/config/scenarios/
      restartPolicy: Always
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-pvc
        - name: tests
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-pvc-tests
        - name: scenarios
          configMap:
            name: {{ $.Release.Name }}-{{ .Values.scenarios }}
      serviceAccountName: {{ .Values.componentId }}
